In [1]:
import pandas as pd

In [10]:
df_value = pd.read_csv("../Files/clean_value_df.csv")
df_census = pd.read_csv("../Files/final_census_df.csv")
df_readmission = pd.read_csv("../Files/readmissions_df.csv")

df_value.head()

,facility_id,facility_name,address,city,state,zip_code,payment_measure_name,payment_category,denominator,payment,value_of_care_display_name,value_of_care_category,outcome,value_code
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,Payment for heart attack patients,No Different Than the National Average Payment,574.0,24934.0,Value of Care Heart Attack measure,Average Mortality and Average Payment,MORT,AMI
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,Payment for heart failure patients,No Different Than the National Average Payment,823.0,17854.0,Value of Care Heart Failure measur,Average Mortality and Average Payment,MORT,HF
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,Payment for pneumonia patients,Greater Than the National Average Payment,536.0,20216.0,Value of Care Pneumonia measure,Average Mortality and Higher Payment,MORT,PN
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,Payment for hip/knee replacement patients,Greater Than the National Average Payment,245.0,22216.0,Value of Care hip/knee replacement,Average Complications and Higher Payment,COMP,HIP_KNEE
4,10005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,Payment for heart attack patients,No Different Than the National Average Payment,71.0,24742.0,Value of Care Heart Attack measure,Average Mortality and Average Payment,MORT,AMI

In [11]:
df_census.head()

   zip_code  population  poverty_rate  median_income
0       601     17242.0     62.475351        13092.0
1       602     38442.0     51.014515        16358.0
2       603     48814.0     49.856599        16603.0
3       606      6437.0     64.672984        12832.0
4       610     27073.0     43.305138        19309.0

In [12]:
df_readmission.head()

,facility_name,facility_id,measure_name,number_of_discharges,excess_readmission_ratio,number_of_readmissions
0,SOUTHEAST ALABAMA MEDICAL CENTER,10001,READM-30-HIP-KNEE-HRRP,258.0,1.1735,17
1,SOUTHEAST ALABAMA MEDICAL CENTER,10001,READM-30-CABG-HRRP,268.0,1.1868,41
2,SOUTHEAST ALABAMA MEDICAL CENTER,10001,READM-30-AMI-HRRP,620.0,1.0204,100
3,SOUTHEAST ALABAMA MEDICAL CENTER,10001,READM-30-HF-HRRP,1107.0,1.0702,264
4,SOUTHEAST ALABAMA MEDICAL CENTER,10001,READM-30-COPD-HRRP,444.0,1.0560,92

In [13]:
merged_df_1=df_value.merge(df_readmission, how="inner", on="facility_id")

In [ ]:
final_merged_df=merged_df_1.merge(df_census, how="inner", on="")